<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<title>用户中心</title>
<link href="<?php echo base_url().'style/admin/';?>bootstrap-3.3.5-dist/css/bootstrap.min.css" title="" rel="stylesheet" />
<link title="" href="<?php echo base_url().'style/admin/';?>css/style.css" rel="stylesheet" type="text/css"  />
<link title="blue" href="<?php echo base_url().'style/admin/';?>css/dermadefault.css" rel="stylesheet" type="text/css"/>
<link title="green" href="<?php echo base_url().'style/admin/';?>css/dermagreen.css" rel="stylesheet" type="text/css" disabled="disabled"/>
<link title="orange" href="<?php echo base_url().'style/admin/';?>css/dermaorange.css" rel="stylesheet" type="text/css" disabled="disabled"/>
<link href="<?php echo base_url().'style/admin/';?>css/templatecss.css" rel="stylesheet" title="" type="text/css" />
<script src="<?php echo base_url().'style/admin/';?>script/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="<?php echo base_url().'style/admin/';?>script/jquery.cookie.js" type="text/javascript"></script>
<script src="<?php echo base_url().'style/admin/';?>bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>
<nav class="nav navbar-default navbar-mystyle navbar-fixed-top">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
     <span class="icon-bar"></span> 
     <span class="icon-bar"></span> 
     <span class="icon-bar"></span> 
    </button>
    <a class="navbar-brand mystyle-brand"><span class="glyphicon glyphicon-home"></span></a> </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="li-border"><a class="mystyle-color" href="<?php echo site_url().'/admin/index/';?>">论坛管理控制台</a></li>
    </ul>
    
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown li-border">
          <a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">
              <?php echo $this->session->admin_username; ?>
              <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="<?php echo site_url().'/admin_login/exit_forum';  ?>">退出</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="#" class="dropdown-toggle mystyle-color" data-toggle="dropdown">换肤<span class="caret"></span></a>
        <ul class="dropdown-menu changecolor">
          <li id="blue"><a href="#">蓝色</a></li>
          <li class="divider"></li>
          <li id="green"><a href="#">绿色</a></li>
          <li class="divider"></li>
          <li id="orange"><a href="#">橙色</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="down-main">
  <div class="left-main left-full">
    <div class="sidebar-fold"><span class="glyphicon glyphicon-menu-hamburger"></span></div>
    <div class="subNavBox">
      <div class="sBox">
       <div class="subNav sublist-up"><span class="title-icon glyphicon glyphicon-chevron-up"></span><span class="sublist-title">用户管理</span></div>
        <ul class="navContent" style="display:none">
          <li class="active">
            <div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png" />用户管理</div>
            <a href="<?php echo site_url().'/admin_user/user_info_show/';?>"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">用户管理</span></a> </li>
          <li>
            <div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png" />用户添加</div>
            <a href="<?php echo base_url().'admin_user/user_info_show/';?>"><span class="sublist-icon glyphicon glyphicon-envelope"></span><span class="sub-title">用户添加</span></a> </li>
          <!--<li>-->
            <!--<div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png" />角色管理</div>-->
            <!--<a href="<?php echo base_url().'style/admin/';?>smsInfo.html"><span class="sublist-icon glyphicon glyphicon-bullhorn"></span><span class="sub-title">角色管理</span></a></li>-->
          <!--<li>-->
            <!--<div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png" />角色添加</div>-->
            <!--<a href="<?php echo base_url().'style/admin/';?>identify.html"><span class="sublist-icon glyphicon glyphicon-credit-card"></span><span class="sub-title">角色添加</span></a></li>-->
        </ul>
      </div>
        <div class="sBox">
            <div class="subNav sublist-up"><span class="title-icon glyphicon glyphicon-chevron-up"></span><span class="sublist-title">帖子管理</span></div>
            <ul class="navContent" style="display:none">
                <!--<li>-->
                    <!--<div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png" />帖子置顶</div>-->
                    <!--<a href="<?php echo site_url().'/admin/post_stick/';?>"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">帖子置顶</span></a></li>-->
                <li>
                    <div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png" />帖子编辑</div>
                    <a href="<?php echo site_url().'/admin_post/post_top_del/';?>"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">帖子编辑</span></a></li>
                <li>
                    <div class="showtitle" style="width:100px;"><img src="<?php echo base_url().'style/admin/';?>img/leftimg.png"/>版块管理
                    </div>
                    <a href="<?php echo site_url().'/admin_category/category_show_add/';?>"><span class="sublist-icon glyphicon glyphicon-user"></span><span class="sub-title">版块管理</span></a>
                </li>
            </ul>
        </div>
    </div>
  </div>
  <div class="right-product my-index right-full">
     <div class="container-fluid">
	   <div class="info-center">
       
       <!---title----->
            <div class="info-title">
              <div class="pull-left">
                <h4><strong>Administrator，</strong></h4>
                  <p>欢迎登录论坛管理系统！</p>
              </div>
              <div class="clearfix"></div>
            </div>
           <!----content-list---->
           <table border="1" style="width: 100%;">
               <?php foreach($comment_content as $v): ?>
               <tr class="comment_read">
                   <td>
                       <?php echo $v['uname'];?>
                   </td>
                   <td id="<?php echo $v['fid'];?>">
                       <div class="comment_content">
                           <?php echo $v['commentcontent'];?>
                       </div>
                       <div class="comment_info">
                           <span class="comment_info_floor">
                               <?php echo $v['fid'];?>楼
                           </span>
                       </div>
                   </td>
                   <td>
                       <button value="<?php echo $v['fid'];?>" onclick="delete_comment(this.value,<?php echo $v['id'];?>)">
                           删除
                       </button>
                       <button value="<?php echo $v['commentcontent'];?>" onclick="edit_comment(<?php echo $v['fid'];?>,this.value,<?php echo $v['id'];?>)">
                           修改
                       </button>
                   </td>
               </tr>

               <?php endforeach ?>
               <!--<tr class="comment_read">-->
                   <!--<td>-->
                       <!--<?php echo $v['uname'];?>-->
                   <!--</td>-->
                   <!--<td>-->
                       <!--<textarea  cols="10" class="comment_edit" value="ff" placeholder="评论"></textarea>-->
                   <!--</td>-->
                   <!--<td>-->
                       <!--<button >-->
                           <!--删除-->
                       <!--</button>-->
                       <!--<button onclick="edit_comment(<?php echo $v['commentcontent'];?>)">-->
                           <!--修改-->
                       <!--</button>-->
                   <!--</td>-->
               <!--</tr>-->
           </table>


       </div>			
	 </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
/*换肤*/
$(".dropdown .changecolor li").click(function(){
	var style = $(this).attr("id");
    $("link[title!='']").attr("disabled","disabled"); 
	$("link[title='"+style+"']").removeAttr("disabled"); 

	$.cookie('mystyle', style, { expires: 7 }); // 存储一个带7天期限的 cookie 
})
var cookie_style = $.cookie("mystyle"); 
if(cookie_style!=null){ 
    $("link[title!='']").attr("disabled","disabled"); 
	$("link[title='"+cookie_style+"']").removeAttr("disabled"); 
} 
/*左侧导航栏显示隐藏功能*/
$(".subNav").click(function(){				
			/*显示*/
			if($(this).find("span:first-child").attr('class')=="title-icon glyphicon glyphicon-chevron-down")
			{
				$(this).find("span:first-child").removeClass("glyphicon-chevron-down");
			    $(this).find("span:first-child").addClass("glyphicon-chevron-up");
			    $(this).removeClass("sublist-down");
				$(this).addClass("sublist-up");
			}
			/*隐藏*/
			else
			{
				$(this).find("span:first-child").removeClass("glyphicon-chevron-up");
				$(this).find("span:first-child").addClass("glyphicon-chevron-down");
				$(this).removeClass("sublist-up");
				$(this).addClass("sublist-down");
			}	
		// 修改数字控制速度， slideUp(500)控制卷起速度
	    $(this).next(".navContent").slideToggle(300).siblings(".navContent").slideUp(300);
	})
/*左侧导航栏缩进功能*/
$(".left-main .sidebar-fold").click(function(){

	if($(this).parent().attr('class')=="left-main left-full")
	{
		$(this).parent().removeClass("left-full");
		$(this).parent().addClass("left-off");
		
		$(this).parent().parent().find(".right-product").removeClass("right-full");
		$(this).parent().parent().find(".right-product").addClass("right-off");
		
		}
	else
	{
		$(this).parent().removeClass("left-off");
		$(this).parent().addClass("left-full");
		
		$(this).parent().parent().find(".right-product").removeClass("right-off");
		$(this).parent().parent().find(".right-product").addClass("right-full");
		
		}
	})	
 
  /*左侧鼠标移入提示功能*/
		$(".sBox ul li").mouseenter(function(){
			if($(this).find("span:last-child").css("display")=="none")
			{$(this).find("div").show();}
			}).mouseleave(function(){$(this).find("div").hide();})	
});
    
    function edit_comment(fid,commentcontent,id) {
    var str_text = "<textarea  cols='10' class='comment_edit' placeholder='评论'>"+commentcontent+"</textarea>";
    $("#"+fid).html(str_text);
    var str_button = "<button onclick='edit_comment_save("+
        fid+","+id+")'>" +
        "保存" +
        "</button>";
    $("#"+fid).next().html(str_button);
    }
    
    function edit_comment_save(fid,id) {
        var str_change_text = $("#"+fid).children(".comment_edit").val();
        var url = "<?php echo site_url('/admin_comment/post_comment_change');?>";
        var str_content = '';
        var str_button = '';
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                fid:fid,
                id:id,
                commentcontent:str_change_text
            },
            dataType: "text",
            success: function (data) {
                str_content = "<div class='comment_content'>" +
                    str_change_text +
                    "</div>" +
                    "<div class='comment_info'>" +
                    "<span class='comment_info_floor'>" +
                    fid +
                    "楼</span></div>";
                $("#"+fid).html(str_content);

                str_button = "<button value='"+
                    fid+
                    "'" +
                    "onclick='" +
                    "delete_comment(" +
                    fid+
                    "," +
                    id +
                    ")'"+
                    ">删除" +
                    "</button>" +
                    "<button value='" +
                    str_change_text +
                    "' onclick='edit_comment(" +
                    fid +
                    "," +
                    "this.value"  +
                    "," +
                    id +
                    ")'>"+
                    "修改"+
                    "</button>";
                $("#"+fid).next().html(str_button);
            },
            error: function (msg) {//ajax请求失败后触发的方法
                alert("错误");//弹出错误信息
            }
        });
    }

    function delete_comment(fid,id) {
        var url = "<?php echo site_url('/admin_comment/post_comment_delete');?>";
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                fid:fid,
                id:id
            },
            dataType: "text",
            success: function (data) {
                window.location.reload();
                alert(data);
            },
            error: function (msg) {//ajax请求失败后触发的方法
                alert("错误");//弹出错误信息
            }
        });
    }
</script>
</body>
</html>
