<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description"
          content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords"
          content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Materialize - Material Design Admin Template</title>

    <!-- Favicons-->
    <link rel="icon" href="<?php echo base_url().'style/index/';?>images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed"
          href="<?php echo base_url().'style/index/';?>images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->


    <!-- CORE CSS-->
    <link href="<?php echo base_url().'style/index/';?>css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection">
    <link href="<?php echo base_url().'style/index/';?>css/style.css" type="text/css" rel="stylesheet"
          media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="<?php echo base_url().'style/index/';?>js/plugins/perfect-scrollbar/perfect-scrollbar.css"
          type="text/css"
          rel="stylesheet" media="screen,projection">
    <link href="<?php echo base_url().'style/index/';?>js/plugins/jvectormap/jquery-jvectormap.css" type="text/css"
          rel="stylesheet" media="screen,projection">
    <link href="<?php echo base_url().'style/index/';?>js/plugins/chartist-js/chartist.min.css" type="text/css"
          rel="stylesheet" media="screen,projection">


</head>

<body>


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="cyan">
            <div class="nav-wrapper">
                <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img
                        src="<?php echo base_url().'style/index/';?>images/materialize-logo.png" alt="materialize logo"></a>
                    <span class="logo-text">Ming-论坛</span></h1>
                <ul class="right hide-on-med-and-down">
                    <li class="search-out">
                        <input type="text" class="search-out-text">
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light show-search"><i
                                class="mdi-action-search"></i></a>
                    </li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i
                            class="mdi-action-settings-overscan"></i></a>
                    </li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i
                            class="mdi-social-notifications"></i></a>
                    </li>
                    <!-- Dropdown Trigger -->
                    <li><a href="#" data-activates="chat-out"
                           class="waves-effect waves-block waves-light chat-collapse"><i
                            class="mdi-communication-chat"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details cyan darken-2">
                    <div class="row">
                        <div class="col col s4 m4 l4">
                            <img src="<?php echo base_url().'style/index/';?>images/avatar.jpg" alt=""
                                 class="circle responsive-img valign profile-image">
                        </div>
                        <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content">
                                <li><a href="#"><i class="mdi-action-face-unlock"></i> 简介</a>
                                </li>
                                <li><a href="#"><i class="mdi-action-settings"></i> 设置</a>
                                </li>
                                <li><a href="#"><i class="mdi-communication-live-help"></i> 帮助</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="mdi-action-lock-outline"></i> 密码</a>
                                </li>
                                <li><a href="<?php if($this->session->username==''){echo site_url().'/index_login/index';}
                                                    else{echo site_url().'/index_login/exit_forum';  }?>">
                                    <i class="mdi-hardware-keyboard-tab"></i>
                                    <?php if($this->session->username==''){echo "登陆";}else{echo "退出";}?>
                                </a>
                                </li>
                            </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">
                                <?php if($this->session->username==''){echo "游客";}else{echo $this->session->username;}?>
                                <i class="mdi-navigation-arrow-drop-down right"></i></a>
                            <p class="user-roal">用户</p>
                        </div>
                    </div>
                </li>
                <li class="bold"><a href="<?php echo site_url().'/home/index';?>" class="waves-effect waves-cyan"><i
                        class="mdi-action-dashboard"></i> 首页</a>
                </li>
                <li class="bold"><a href="app-email.html" class="waves-effect waves-cyan"><i
                        class="mdi-communication-email"></i> 私信 <span class="new badge">1000</span></a>
                </li>
                <li class="bold"><a href="<?php echo site_url().'/index_post/send_post';?>"
                                    class="waves-effect waves-cyan"><i
                        class="mdi-communication-email"></i>发帖</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i
                                class="mdi-action-invert-colors"></i> 分类</a>
                            <div class="collapsible-body">
                                <ul>
                                    <?php foreach($category as $v): ?>
                                    <li>
                                        <a href="<?php echo site_url().'/index_category/show/'.$v['sid'];?>">
                                            <?php echo $v['name'];?>
                                        </a>
                                    </li>
                                    <?php endforeach ?>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </li>

                <li class="li-hover">
                    <div class="divider"></div>
                </li>
                <li class="li-hover"><p class="ultra-small margin more-text">Daily Sales</p></li>
                <li class="li-hover">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="sample-chart-wrapper">
                                <div class="ct-chart ct-golden-section" id="ct2-chart"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" data-activates="slide-out"
               class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i
                    class="mdi-navigation-menu"></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START CONTENT -->
        <section id="content">

            <!--start container-->
            <div class="container">
                <!--card widgets start-->
                <div id="card-widgets">
                    <div class="row">

                        <div class="col s12 m12 l4">
                            <ul id="task-card" class="collection with-header">
                                <li class="collection-header cyan">
                                    <h4 class="task-card-title"><?php echo $category_name['name']; ?></h4>
                                    <p class="task-card-date">2016-2017</p>
                                </li>
                                <table class="New_Posts" width="530">
                                    <thead class="New_Posts_head">
                                    <td width="10%" class="New_Posts_head_content">帖子名称</td>
                                    <td width="50%" class="New_Posts_head_content">帖子预览</td>
                                    <td width="15%" class="New_Posts_head_content">发帖楼主</td>
                                    <td width="15%" class="New_Posts_head_content">发帖时间</td>
                                    </thead>
                                    <tbody id="nr">
                                    <?php foreach($category_content as $v): ?>
                                    <tr>
                                        <td width="10%" class="New_Posts_head_content"><?php echo $v['title'] ?></td>
                                        <td width="50%" class="New_Posts_head_content">
                                            <a href="<?php echo site_url().'/index_category/read_post/'.$v['id'];?>">
                                                <?php echo $v['content'] ?>
                                            </a>
                                        </td>
                                        <td width="15%" class="New_Posts_head_content"><?php echo $v['uname'] ?></td>
                                        <td width="15%" class="New_Posts_head_content"><?php echo $v['updatetime'] ?></td>
                                    </tr>
                                    <?php endforeach ?>
                                    </tbody>
                                </table>

                            </ul>
                        </div>

                    </div>
                </div>
                <!--card widgets end-->

                <!-- //////////////////////////////////////////////////////////////////////////// -->
            </div>
            <!--end container-->
        </section>
        <!-- END CONTENT -->

        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        <aside id="right-sidebar-nav">
            <ul id="chat-out" class="side-nav rightside-navigation">
                <li class="li-hover">
                    <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i
                            class="mdi-navigation-close"></i></a>
                    <div id="right-search" class="row">
                        <form class="col s12">
                            <div class="input-field">
                                <i class="mdi-action-search prefix"></i>
                                <input id="icon_prefix" type="text" class="validate">
                                <label for="icon_prefix">Search</label>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="li-hover">
                    <ul class="chat-collapsible" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent
                                Activity
                            </div>
                            <div class="collapsible-body recent-activity">
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i
                                            class="mdi-action-add-shopping-cart"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">just now</a>
                                        <p>Jim Doe Purchased new equipments for zonal office.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i
                                            class="mdi-device-airplanemode-on"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">Yesterday</a>
                                        <p>Your Next flight for USA will be on 15th August 2015.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i
                                            class="mdi-action-settings-voice"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">5 Days Ago</a>
                                        <p>Natalya Parker Send you a voice mail for next conference.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">Last Week</a>
                                        <p>Jessy Jay open a new store at S.G Road.</p>
                                    </div>
                                </div>
                                <div class="recent-activity-list chat-out-list row">
                                    <div class="col s3 recent-activity-list-icon"><i
                                            class="mdi-action-settings-voice"></i>
                                    </div>
                                    <div class="col s9 recent-activity-list-text">
                                        <a href="#">5 Days Ago</a>
                                        <p>Natalya Parker Send you a voice mail for next conference.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header light-blue white-text active"><i
                                    class="mdi-editor-attach-money"></i>Sales Repoart
                            </div>
                            <div class="collapsible-body sales-repoart">
                                <div class="sales-repoart-list  chat-out-list row">
                                    <div class="col s8">Target Salse</div>
                                    <div class="col s4"><span id="sales-line-1"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Payment Due</div>
                                    <div class="col s4"><span id="sales-bar-1"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Total Delivery</div>
                                    <div class="col s4"><span id="sales-line-2"></span>
                                    </div>
                                </div>
                                <div class="sales-repoart-list chat-out-list row">
                                    <div class="col s8">Total Progress</div>
                                    <div class="col s4"><span id="sales-bar-2"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite
                                Associates
                            </div>
                            <div class="collapsible-body favorite-associates">
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img
                                            src="<?php echo base_url().'style/index/';?>images/avatar.jpg"
                                            alt=""
                                            class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Eileen Sideways</p>
                                        <p class="place">Los Angeles, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img
                                            src="<?php echo base_url().'style/index/';?>images/avatar.jpg"
                                            alt=""
                                            class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Zaham Sindil</p>
                                        <p class="place">San Francisco, CA</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img
                                            src="<?php echo base_url().'style/index/';?>images/avatar.jpg"
                                            alt=""
                                            class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Renov Leongal</p>
                                        <p class="place">Cebu City, Philippines</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img
                                            src="<?php echo base_url().'style/index/';?>images/avatar.jpg"
                                            alt=""
                                            class="circle responsive-img online-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Weno Carasbong</p>
                                        <p>Tokyo, Japan</p>
                                    </div>
                                </div>
                                <div class="favorite-associate-list chat-out-list row">
                                    <div class="col s4"><img
                                            src="<?php echo base_url().'style/index/';?>images/avatar.jpg"
                                            alt=""
                                            class="circle responsive-img offline-user valign profile-image">
                                    </div>
                                    <div class="col s8">
                                        <p>Nusja Nawancali</p>
                                        <p class="place">Bangkok, Thailand</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- LEFT RIGHT SIDEBAR NAV-->

    </div>
    <!-- END WRAPPER -->

</div>
<!-- END MAIN -->


<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START FOOTER -->
<footer class="page-footer">

    <div class="footer-copyright">
        <div class="container">
            Copyright © 2017 All rights reserved.
            <span class="right"> Design and Developed by  </span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script src="<?php echo base_url().'style/index/';?>js/jquery.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="<?php echo base_url().'style/index/';?>js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>


<!-- chartist -->
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/chartist-js/chartist.min.js"></script>

<!-- chartjs -->
<script type="text/javascript" src="<?php echo base_url().'style/index/';?>js/plugins/chartjs/chart.min.js"></script>
<script type="text/javascript" src="<?php echo base_url().'style/index/';?>js/plugins/chartjs/chart-script.js"></script>

<!-- sparkline -->
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/sparkline/sparkline-script.js"></script>

<!--jvectormap-->
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript"
        src="<?php echo base_url().'style/index/';?>js/plugins/jvectormap/vectormap-script.js"></script>


<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="<?php echo base_url().'style/index/';?>js/plugins.js"></script>
<!-- Toast Notification -->
<script type="text/javascript">


</script>
</body>

</html>
